configuration {
    // Set the default theme

    // General settings
    modi: "drun,run";
    show-icons: true;
    lines: 10;
    columns: 1;
    font: "Iosevka Nerd Font 12";

    // Window settings
    location: 0;
    width: 50; // In percent, or number of pixels
    padding: 5;
    yoffset: 0;
    xoffset: 0;
    fixed-num-lines: true;

    // Matching and sorting
    case-sensitive: false;
    sort: true;

    // Element settings
    element-padding: 2px;
    scrollbar: true;
    // more settings as needed...
}

@theme "~/.config/rofi/theme.rasi"
